* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: initial;
}

body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 375px;
  font-size: 16px;
}
input,
select,
option {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
